body {
  overflow: hidden;
}

#map {
  position: absolute;
  top: 60vh;
  left: 0px;

  width: 50vw;
  height: 40vh;
}

#list_wrapper {
  position: absolute;
  top: 10vh;
  left: 0px;

  width: 50vw;
  height: 50vh;

  overflow-x: hidden;
  overflow-y: auto;
}
#list {
  width: 49vw;
}


#searchDiv {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 100vw;
  height: 10vh;
}

#details {
  position: absolute;
  top: 0px;
  right: 0px;

  width: calc( 50vw - 20px);
  height: 100vh;

  margin: 10px;

  overflow-x: hidden;
  overflow-y: auto;
}

#details .sect {
  font-weight: 800;
}

